body {
  font-family: "Nirmala UI", sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img picture {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  /* outline: 1px solid red; */
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

}

.section {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/bg-img-1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  padding-top: 20px;
  padding-bottom: 11px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/bg-img-2x.png');
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 766px) {
  .container {
    max-width: 764px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

.slogan {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  width: 258px;
  margin: 0 auto;
  margin-bottom: 10px;

  border: 1px solid #fff;
  border-radius: 40px;
  padding: 6px 15px 6px 8px;
  
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
}

.sound-swich {
  position: absolute;
  top: 25px;
  right: 11px;
  
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ec1119;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;

  transition: background-color 0.2s linear;
}

.sound-swich .icon {
  width: 20px;
  height: 20px;
}

.sound-swich:hover {
  background-color: #d70a0a;
}

.heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  background: linear-gradient(178deg, #eb5d38 0%, #ffd600 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 213, 54, 0.5);

  margin-bottom: 10px;
}

.heading-subtext {
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #fff2ce;

  margin-bottom: 207px;

  text-shadow: 0 10px 10px 0 rgba(255, 0, 0, 1);
}

.woman-in-bikini {
  background-image: url('/images/girls/woman-in-bikini-1x.png');
  background-position: bottom;
  background-repeat: no-repeat;
  
  width: 224px;
  height: 361px;
  margin: 0 auto;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
} 

.btns-wrapp {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
}

.continue-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  outline: none;

  border-radius: 10px;
  width: 330px;
  height: 56px;

  box-shadow: 4px 4px 20px 0 rgba(255, 255, 255, 0.4);
  background: linear-gradient(159deg, #ffe53b 0%, #ff2525 92.71%);
}

.decline-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  outline: none;

  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 10px;
  width: 330px;
  height: 56px;

}

/*********************  Section with slider  *********************/

.heading-choose-section {
  margin-bottom: 20px;
  width: 308px;
  margin: 0 auto;
}

.next-btn {
  margin: 0 auto;
}

.slider {
  position: relative;
  width: 226px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}

.slides {
  display: flex;
  /* gap: 10px; */
  transition: transform 0.8s ease;
  /* justify-content: center; */
}

.slide {
  border: 1px solid #fff;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  padding: 22px 27px 23px;
  width: 226px;
  height: 278px;
}

.slide .text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);

  margin-top: 10px;
}

/*********************  Media queries  *********************/

/* Tablet */
@media screen and (min-width: 766px) {
  .sound-swich {
    top: 36px;
    right: 42px;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .slogan {
    font-size: 36px;
    line-height: 100%;
    padding: 16px 30px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1128px;
  }

  .sound-swich {
    width: 52px;
    height: 52px;
    top: 48px;
    right: 74px;
  }

  .sound-swich .icon {
    width: 32px;
    height: 32px;
  }

  .heading {
    font-size: 84px;
    margin-bottom: 40px;
  }

  .section {
    height: 969px;
  }

  .btns-wrapp {
    flex-direction: row-reverse;
    gap: 50px;
  }

  .continue-btn {
    font-size: 32px;
    width: 323px;
    height: 84px;
  }

  .decline-btn {
    font-size: 32px;
    width: 323px;
    height: 84px;
  }

  .woman-in-bikini {
    background-image: url('/images/girls/woman-in-bikini-2x.png');
    width: 300px;
    height: 100%;
    transform: translate(90%);
  }

  .woman-in-gold {
    background-image: url('/images/girls/woman-in-golden-dress-1x.png');

    position: absolute;
    bottom: 0;
    transform: translateX(-30%);
    z-index: -1;
    width: 425px;
    height: 795px;
  }
}

@media screen and (min-width: 1920px) {
  .section {
    padding-top: 191px;
    padding-bottom: 191px;
  }

  .btns-wrapp {
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .woman-in-bikini {
    right: 0;
  }

  .woman-in-gold {
    left: 10%;
  }
}
